/* header */

.header {
  height: 80px;
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
}

.header-logo,
.header-nav,
.header-options {
  display: inline-block;
}

/* header logo */

.header-logo {
  line-height: 80px;
  width: 10%;
}

.header-logo img {
  vertical-align: middle;
}

/* header nav */

.header-nav {
  width: 63%;
  vertical-align: middle;
  font-size: 18px;
}

/* menu level 1 */

.header-menu {
  position: relative;
  text-align: end;
}

.header-menu > li {
  display: inline-block;
  cursor: pointer;
  font-weight: 600;

  margin: 0 15px;
  padding: 29px 16px 29px 0;
  position: relative;
}

.header-menu li:hover {
  color: blue;
  transition: all 0.5s;
}

.header-menu .header-menu-multiple::after {
  content: "\2304";
  margin-left: 5px;
  position: absolute;
  top: 31%;
}

/* menu level 2 */

.header-menu > li > ul {
  display: none;
  width: 250px;
  text-align: start;

  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 100%;
}

.header-menu li:hover > ul {
  display: block;
  color: black;
}

.header-menu-multiple > ul > li {
  padding: 15px;
}

.header-menu .header-menu-multiple > ul > li::after {
  top: 75%;
  right: 5%;
}

.header-menu-multiple:first-child > ul {
  padding: 10px 0;
}

.header-menu-multiple:first-child > ul > li {
  padding: 0 15px 5px 15px;
}

.header-menu-multiple:first-child > ul > li:hover {
  text-indent: 5px;
  transition: all 0.5s ease-in-out;
}

.header-menu-multiple:nth-child(2) > ul > li,
.header-menu-multiple:nth-child(3) > ul > li,
.header-menu-multiple:nth-child(5) > ul > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.header-menu-multiple:nth-child(2) > ul > li:last-child,
.header-menu-multiple:nth-child(3) > ul > li:last-child,
.header-menu-multiple:nth-child(5) > ul > li:last-child {
  border: none;
}

.header-menu-multiple > ul > li > a {
  line-height: 36px;
}

.header-menu-multiple > ul > li > a > img {
  padding-right: 10px;
}

.header-menu-multiple > ul > li > a > i {
  margin: 0 4px 0 10px;
  width: 15%;
  font-size: 25px;
}

/* menu level 3 */

.header-menu-multiple > ul ul {
  display: none;
  width: 250px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  position: absolute;
  top: 75%;
  left: 100%;
}

.header-menu-multiple > ul > li:hover > ul {
  display: block;
}

/* header options */

.header-options {
  width: 25%;
  font-size: 18px;
  line-height: 80px;
  vertical-align: middle;
}

.header-option-login {
  color: blue;
}

.header-option-login i,
.header-option-register i {
  margin-right: 7px;
}

.header-option-login:hover {
  color: black;
  transition: all 0.5s ease-in-out;
}

.header-option-register {
  margin: 0 20px;
}

.header-option-multiple-language {
  border: none;
  font-size: 17px;
  cursor: pointer;
}

.header-option-multiple-language:focus {
  outline: none;
}
