/* main css */
/* banner */

.banner {
  background-image: url("./images/banner-background.jpg");
  background-size: cover;
  padding: 80px 0;
}

.banner-content {
  float: left;
  padding: 120px 0;
}

.banner-content .sub-title {
  color: white;
  background-color: #00a79d;
  padding: 5px 10px;
  border-radius: 20px;
}

.banner-content h1 {
  font-size: 50px;
  margin: 25px 0;
}

.banner-content p {
  font-size: 18px;
  color: #0000008f;
  line-height: 25px;
}

.banner-content form {
  margin-top: 20px;
}

.banner-content form input {
  width: 420px;
  padding: 18px;
  margin-right: -3px;
  border-radius: 4px;
  border: none;
}

.banner-content form input:focus {
  outline: none;
}

.banner-content form input:focus::placeholder {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

/* introduce style */

.introduce {
  margin: 100px 0;
}

.introduce-contents {
  margin-top: 30px;
}

.introduce-content-item {
  width: 32%;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.164);
  border-radius: 2px;

  padding: 30px;
}

.introduce-content-item:nth-child(2) {
  margin: 0 26px;
}

.introduce-content-item img {
  padding: 0 25px;
}

.introduce-content-item h3 {
  font-size: 25px;
  margin: 15px 0;
}

.introduce-content-item p {
  font-size: 18px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.7);
}

/* sell-tokens */

.sell-tokens-image {
  float: left;
  padding-right: 30px;
}

.sell-tokens-content {
  float: left;
}

.sell-tokens-content h2,
.sell-tokens-content p {
  text-align: start;
  padding: 5px 0 20px;
  line-height: 30px;
}

.content-countdown li {
  display: inline-block;
  margin: 0 20px 20px 0;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.699);
}

.content-countdown li span {
  display: block;
  width: 100px;
  height: 80px;
  border: 1px solid #bdf5fb;
  border-radius: 4px;

  color: black;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.content-countdown li span::after {
  content: ":";
  font-weight: 100;
  position: absolute;
  right: -16px;
  top: 18px;
}

.content-countdown li:last-child span::after {
  content: "";
}

.content-tokenPrice {
  background-color: rgba(128, 128, 128, 0.103);
  width: 350px;
  padding: 20px 20px;
}

.content-tokenPrice-box {
  width: 45%;
  display: inline-block;
}

.content-tokenPrice-box:nth-child(2) {
  float: right;
  text-align: end;
}

.content-tokenPrice-box span {
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.33);
}

.content-tokenPrice-box h3 {
  margin-top: 15px;
  font-size: 20px;
  line-height: 25px;
}

.content-tokenPrice-box h3 img {
  height: 25px;
  margin-right: 10px;
}

.content-totalPrice {
  display: block;
  margin: 25px 0;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

.content-totalPrice span {
  color: black;
  font-weight: bold;
  padding-left: 30px;
}

.content-button {
  display: block;
  margin: 40px 0;
}

.content-button a i {
  margin-right: 15px;
}

.content-button .btn-secondary {
  margin-left: 15px;
}

.content-button .btn-primary:hover,
.content-button .btn-primary:focus,
.content-button .btn-secondary:hover,
.content-button .btn-secondary:focus {
  background-color: black;
  transition: all 0.5s ease-in-out;
}

.content-payment img {
  margin-right: 15px;
}
