body{
  background-color: rgba(255, 192, 203, 0.1);
}

.app {
  width: 600px;
  margin: 5rem auto 0;
  padding: 30px 20px;
  background-color: white;
  border-radius: 20px;
}

.menu{
  display: flex;
  justify-content: center;

  list-style: none;
  padding: 0;
}

.menu li:last-child{
  margin-left: 20px;
}

.menu li a{
  display: block;
  font-size: 25px;
  color: blue;
  font-weight: 600;
  padding: 10px 20px;
}

.menu li a:hover, .menu li a:active {
  color: brown;
  transition: all .5s ease-in-out;
}

.menu li a::before{
  width: 0;
  height: 5px;
  color: blue;
}

h1 {
  text-align: center;
  margin: 3rem 0;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.count-down{
  width: 170px;
  border: 2px solid green;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count-down button{
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 17px;
  border-radius: 6px;
  border: none;

  background-color: brown;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.count-down button:hover, .count-down button:focus{
  background-color: rgba(165, 42, 42, 0.8);
  transition: all .5s ease-in-out;
}

.count-down p{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 85px;
  font-size: 30px;
  padding: 20px;
  background-color: rgb(5, 73, 133);
  border-radius: 50%;

  text-align: center;
  color: white;
}
