* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  background-color: #fff;
}

.container-fluid {
  max-width: 97.22%;
  padding: 0 12px;
  margin: 0 auto;
}

.container {
  max-width: 90%;
  margin: 0 60px;
  padding: 0 12px;
}

.row {
  margin: 0 -15px;
}

.row::after,
.row::before {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

/* button */

.btn {
  padding: 15px 30px;
  border-radius: 6px;
  color: white;
  font-size: 18px;
}

.btn-primary {
  background-color: #00a79d;
}

.btn-primary:hover {
  background-color: #5466f9;
}

.btn-secondary {
  background-color: #5466f9;
}

.btn-secondary:hover {
  background-color: #00a79d;
}

.btn-primary:hover,
.btn-secondary:hover {
  transition: all 0.5s ease-in-out;
}
/* input */

.input {
  padding: 18px;
  margin-right: -3px;
  border-radius: 4px;
  border: none;
}

.input:focus {
  outline: none;
}

.input:focus::placeholder {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

/* section title */

.title-h2 {
  font-size: 35px;
  color: black;
  text-align: center;
}

.sub-title-h2 {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.529);
  text-align: center;
  padding: 20px 200px;
}
