* {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
  border: none;
}
